.banner_btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_btn button {
  position: relative;
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  margin-right: 10px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to top, #00000091, #000000ec);
  border-radius: 2px;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.banner_btn button:hover {
  background: #000;
  transition: 0.5s ease-in-out;
}
