.banner_btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_btn .price{
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.banner_btn button {
  position: relative;
  width: 165px;
  height: 55px;
  border: none;
  outline: none;
  margin-right: 25px;
  font-size: 21px;
  font-weight: normal;
  color: #000;
  cursor: pointer;
  /* background: linear-gradient(to top, #00000091, #000000ec); */
  background: #fff;
  border-radius: 2px;
  text-align: center;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
  z-index: 2;
}

/* .banner_btn button:after {
  position: absolute;
  content: "";
  width: 195px;
  height: 40px;
  z-index: 1;
  border: 3px solid #000;
  background: transparent;
  left: -8px;
  bottom: -8px;
  transition: 0.5s ease-in-out;
} */
