@media (max-width: 1280px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .info_section {
    height: auto;
  }
  .text_wrapper {
    width: 82%;
    padding: 0;
    margin: 0 auto;
  }
  .text_wrapper ul li {
    text-align: justify;
  }
  .roadmap_section {
    height: auto;
  }
  .team_wrapper .title {
    font-size: 50px;
  }
  .banner_3 {
    /* height: 280px; */
    background-position-x: center;
  }
  .cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 84px;
  }

  .start_project {
    height: 350px;
  }

  .st_wtapper ul li h2 {
    font-size: 34px;
    line-height: 1;
  }
  .st_wtapper ul li {
    margin-bottom: 0;
  }
  .st_wtapper ul li h4 {
    margin-top: 30px;
    font-size: 24px;
  }
  .banner_2 {
    width: 100%;
    height: 280px;
    background: linear-gradient(to bottom, #00000026, #000000c7);
    background-image: url(../img/ban2_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    height: auto;
  }
  .f_main {
    padding: 20px 45px;
    flex-direction: column;
  }
  .box1 {
    width: auto;
    height: auto;
  }
  .box2 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column-reverse;
  }
  .box1 h2 {
    font-size: 32px;
  }
  .box1 h4 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
  }
  .footer_wrapper p {
    font-size: 9px;
    margin-left: 45px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 430px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 768px;
    background: linear-gradient(to bottom, #00000026, #000000c7);
    background-image: url(../img/banner_1.1.png);
    background-repeat: no-repeat;
    /* background-position-x: -392px; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textElem .title {
    margin-top: 301px;
    font-size: 36px;
    line-height: 1.6;
  }
  .textElem .text_t {
    font-size: 24px;
    line-height: 1.4;
  }
  .textElem .text_s {
    margin-top: 30px;
    font-size: 14px;
  }
  .info_section {
    height: auto;
  }
  .info_section::before {
    content: "";
    width: 100%;
    height: 128px;
    background: linear-gradient(to bottom, #00000000, #131313);
    top: -109px;
  }
  .text_wrapper {
    width: auto;
    padding: 40px;
  }
  .text_wrapper ul li {
    text-align: justify;
  }
  .text_wrapper .title {
    font-size: 32px;
    line-height: 1.4;
  }
  .r_wrapper .r_w_title {
    padding-top: 60px;
    width: 50%;
    margin: 0 auto;
  }

  .video_section {
    height: 534px;
  }

  .banner_2 {
    width: 100%;
    height: 280px;
    background: linear-gradient(to bottom, #00000026, #000000c7);
    background-image: url(../img/ban2_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .roadmap_section {
    height: auto;
  }

  .cards {
    justify-content: center;
  }

  .start_project {
    height: 350px;
  }

  .st_wtapper ul li h2 {
    font-size: 34px;
    line-height: 1;
  }
  .st_wtapper ul li {
    margin-bottom: 0;
  }
  .st_wtapper ul li h4 {
    margin-top: 30px;
    font-size: 24px;
  }
  .banner_3 {
    height: 280px;
    background-position-x: center;
  }
  .team_wrapper .title {
    width: auto;
    font-size: 36px;
  }
  .team_wrapper .t_card {
    width: auto;
  }
  .teams {
    gap: 5px;
  }

  .ts_card {
    width: 178px;
  }

  .moderetion_team .head {
    width: 65%;
  }

  .moderetion_team .head h2 {
    font-size: 24px;
  }
  .mt_items {
    justify-content: flex-start;
    gap: 5px;
  }
  .mt_item {
    width: 90px;
  }
  .mt_item h2 {
    font-size: 11px;
  }
  .mt_item h4 {
    font-size: 9px;
  }
  .footer {
    height: auto;
  }
  .f_main {
    padding: 20px 45px;
    flex-direction: column;
  }
  .box1 {
    width: auto;
    height: auto;
  }
  .box2 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column-reverse;
  }
  .box1 h2 {
    font-size: 32px;
  }
  .box1 h4 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
  }
  .footer_wrapper p {
    font-size: 9px;
    margin-left: 45px;
  }
}
