@font-face {
  font-display: block;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  /* font-family: "Jost", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Russo One", sans-serif; */
  font-family: "Poppins";
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.pp {
  width: 100%;
  height: 800px;
  background: chocolate;
}

/* start banner  */

.banner {
  width: 100%;
  height: 95vh;
  background: linear-gradient(to bottom, #00000026, #000000c7);
  background-image: url(./assets/img/banner_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_wrapper {
  max-width: 535px;
}
.textElem {
  display: flex;
  flex-direction: column;
}
.textElem .title {
  font-size: 96px;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  letter-spacing: 0em;
  color: #fff;
  line-height: 1.6;
  text-align: center;

  font-family: "Poppins";
  /* font-family: wfont_7aa6cb_703df1c41b094d9780d6a253f4e935fb; */
}
.textElem .text_t {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  line-height: 3;
  text-align: center;
}
.textElem .text_s {
  font-size: 21px;
  color: #fff;
  text-align: center;
}

/* and banner  */

/* start info section  */

.info_section {
  width: 100%;
  height: 600px;
  background: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_wrapper {
  width: 57.5%;
  padding: 100px;
  margin: 0 auto;
}
.text_wrapper ul li {
  margin-bottom: 30px;
  text-align: center;
}
.text_wrapper .title {
  text-align: center;
  /* font-size: 30px;
  color: #fff;
  line-height: 3; */
  color: #ffffff;
  font-family: barlow-extralight, barlow, sans-serif;
  font-weight: normal;
  font-size: 35px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0em;
  line-height: 2.5;
}

.bold_text {
  color: #ffffff;
  font-family: barlow-extralight, barlow, sans-serif;
  font-weight: bold;
  font-size: 26px;
  font-style: normal;
  line-height: 32px;
}

.text_wrapper .text {
  /* text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 1.5; */
  color: #ffffff;
  font-family: barlow-extralight, barlow, sans-serif;
  font-weight: normal;
  font-size: 23px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0em;
  line-height: 1.5;
}
/* and info section  */

/* start video section */
.video_section {
  width: 100%;
  height: 650px;
}
.video_section video {
  width: 100%;
  object-fit: cover;
}
/* and video section */

/* banners */

.banner_2 {
  width: 100%;
  height: 650px;
  background: linear-gradient(to bottom, #00000026, #000000c7);
  background-image: url(./assets/img/ban2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_3 {
  width: 100%;
  height: 650px;
  background: linear-gradient(to bottom, #00000026, #000000c7);
  background-image: url(./assets/img/ban3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* and banners */

/* start roadmap_section */

.roadmap_section {
  width: 100%;
  height: 800px;
  background: #fff;
}

.r_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.r_wrapper h2 {
  font-size: 24px;
  margin-top: 100px;
  text-align: center;
}
.cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.card {
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card .title {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  margin-top: 20px;
}
.card ul {
  margin-top: 20px;
}
.card ul li {
  text-align: center;
}
/* and roadmap_section */

/* start_project */

.start_project {
  width: 100%;
  height: 550px;
  background: #ff0303;
  display: flex;
  justify-content: center;
  align-items: center;
}
.st_wtapper {
  width: 80%;
  margin: 0 auto;
}

.st_wtapper ul li {
  margin-bottom: 50px;
  text-align: center;
  line-height: 1;
}

.st_wtapper ul li h2 {
  font-family: barlow, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.st_wtapper ul li h4 {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}

/* and start_project section */

/* start team_section */

.team_section {
  width: 100%;
  background: #fff;
  padding: 100px 0;
}
.team_wrapper .title {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 88px;
  line-height: 1;
  color: #000;
  margin-bottom: 50px;
}
.team_wrapper .t_card {
  width: 28%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.team_wrapper .t_card .t_title {
  margin-top: 20px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.team_wrapper .t_card p {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: rgb(116, 116, 116);
}
.team_wrapper .t_card .icons {
  width: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teams {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 22px;
}
.ts_card {
  width: 200px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.ts_card .t_title {
  margin-top: 20px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.ts_card p {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: rgb(116, 116, 116);
}
.ts_card .icons {
  width: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* and team_section */

/* start moderetion_team */

.moderetion_team {
  width: 100%;
  padding-bottom: 100px;
  background: #fff;
}
.moderetion_team .head {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.moderetion_team .head h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  color: #000;
  font-weight: bold;
}

.mt_items {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.mt_item {
  width: 180px;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mt_item h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.mt_item h4 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
/* and moderetion_team */

/* start footer */

.footer {
  width: 100%;
  height: 530px;
  background: #000;
}

.footer_wrapper p {
  color: #fff;
}
.f_main {
  display: flex;
  justify-content: space-between;
}

.box1 {
  width: 50%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.box1 h2 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}

.box1 h4 {
  margin-top: 50px;
  font-size: 21px;
  color: #fff;
  line-height: 2;
}

.box2 {
  width: 30%;
  height: 480px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box2 .icons_f {
  width: 150px;
  height: 80px;
}
.box2 .icons_f .ic_img {
  display: flex;
  justify-content: space-between;
}
.box2 .contacts {
  width: 150px;
  height: 80px;
}
.box2 .icons_f h4 {
  font-size: 21px;
  color: #fff;
  margin-bottom: 20px;
}
.box2 .contacts h4 {
  font-size: 21px;
  color: #fff;
  margin-bottom: 20px;
}
.box2 .contacts a {
  color: #fff;
}
/* and footer */
